{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h2>Understanding Clouds from Satellite Images</h2>
    <p class="lead">
        Can you classify cloud structures from satellites?
    </p>
    <img src="https://storage.googleapis.com/kaggle-media/competitions/MaxPlanck/Teaser_AnimationwLabels.gif" alt="Cloud Image" width="600" height="400">
    <p class="lead">
        Data source from <a href="https://www.kaggle.com/c/understanding_cloud_organization/overview">kaggle</a>
    </p>
</div>

{% endblock %}